Repository f-klubben/fappen, pull requests merged in 2022-10, with the labels that each got.

#9 Progressive Web App
  .pugrc
  .pugrc.js
  components/apple-core.pug
  components/core.pug
  css/offline.css
  manifest.json
  media/flogo.svg
  media/icons/apple-icon-180.png
  media/icons/apple-splash-1125-2436.jpg
  media/icons/apple-splash-1136-640.jpg
  media/icons/apple-splash-1170-2532.jpg
  media/icons/apple-splash-1179-2556.jpg
  media/icons/apple-splash-1242-2208.jpg
  media/icons/apple-splash-1242-2688.jpg
  media/icons/apple-splash-1284-2778.jpg
  media/icons/apple-splash-1290-2796.jpg
  media/icons/apple-splash-1334-750.jpg
  media/icons/apple-splash-1536-2048.jpg
  media/icons/apple-splash-1620-2160.jpg
  media/icons/apple-splash-1668-2224.jpg
  media/icons/apple-splash-1668-2388.jpg
  media/icons/apple-splash-1792-828.jpg
  media/icons/apple-splash-2048-1536.jpg
  media/icons/apple-splash-2048-2732.jpg
  media/icons/apple-splash-2160-1620.jpg
  media/icons/apple-splash-2208-1242.jpg
  media/icons/apple-splash-2224-1668.jpg
  media/icons/apple-splash-2388-1668.jpg
  media/icons/apple-splash-2436-1125.jpg
  media/icons/apple-splash-2532-1170.jpg
  media/icons/apple-splash-2556-1179.jpg
  media/icons/apple-splash-2688-1242.jpg
  media/icons/apple-splash-2732-2048.jpg
  media/icons/apple-splash-2778-1284.jpg
  media/icons/apple-splash-2796-1290.jpg
  media/icons/apple-splash-640-1136.jpg
  media/icons/apple-splash-750-1334.jpg
  media/icons/apple-splash-828-1792.jpg
  media/icons/manifest-icon-192.maskable.png
  media/icons/manifest-icon-512.maskable.png
  media/limfjordsporter.png
  package-lock.json
  package.json
  pages/index.pug
  pages/offline.pug
  scripts/index.ts
  scripts/service-worker.ts
Labels: hacktoberfest-accepted

#23 Added links page
  .pugrc.js
  components/core.pug
  pages/links.pug
Labels: d-easy, c-feature, a-core, hacktoberfest-accepted

#25 Added frontpage
  .idea/watcherTasks.xml
  components/base_layout.pug
  components/core.pug
  css/index.css
  css/navbar.css
  pages/index.pug
  scripts/index.ts
  scripts/navbar.ts
  styles/base.scss
  styles/frontpage.scss
Labels: d-easy, c-feature, a-core, p-high, hacktoberfest-accepted

#28 Style guide and various fixes
   CONTRIBUTING.md
  .pugrc.js
  components/apple-core.pug
  components/base_layout.pug
  components/core.pug
  css/offline.css
  package-lock.json
  package.json
  pages/index.pug
  pages/links.pug
  pages/offline.pug
  pages/songbook/index.pug
  pages/songbook/songs.json
  scripts/index.ts
  style-guid.md
  styles/base.scss
  styles/frontpage.scss
  styles/links.scss
  styles/offline.scss
  styles/songbook.scss
  util/build_songs.py
  util/templates/songbook.pug
Labels: documentation, c-feature, d-medium, a-core, p-medium, c-workflow
